{% comment %}
    Renders a custom loader to the printess editor
    Version 2.6

    Accepts:
    - imgUrl: {String} The url to the logo that should be displayed
    Usage:
    {% render 'printess-add-to-basket',
      imgUrl: ""
    %}
{% endcomment %}

<script>
  let settings = window["printessGlobalConfig"] || null;

  if(!settings) {
    settings = window["printessGlobalConfig"] = {};

    if(!settings.customLoader) {
      settings.customLoader = {};
    }

    const originalOpen = typeof settings.customLoader.onShowLoader === "function" ? settings.customLoader.onShowLoader : null;
    const originalHide = typeof settings.customLoader.onHideLoader === "function" ? settings.customLoader.onHideLoader : null;

    settings.customLoader.onShowLoader = () => {
      document.querySelectorAll(".printess_custom_loader")?.forEach((x) => {
        if(document.body) {
          if(x.parent !== document.body) {
            document.body.appendChild(x);
          }

          x.style.display = "block";
        }
      });

      if(originalOpen) {
        originalOpen();
      }
    };

    settings.customLoader.onHideLoader = () => {
      document.querySelectorAll(".printess_custom_loader")?.forEach((x) => {
        x.style.display="none";
      });

      if(originalHide) {
        originalHide();
      }
    };
  }
</script>

<div class="printess_custom_loader printess-owned" style="display:none;">
  <div class="container">
  {% if imgUrl != blank %}
    <img class="" src="{{ imgUrl }}">
  {% endif %}
  </div>
</div>